<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<!-- Setup appender -->
	<appender name="SLACK" class="com.wpic.logback.SlackAppender">
		<!-- API token - Get it from here: https://api.slack.com/ -->
		<token>1111111111-1111111-11111111-111111111</token>
		<channel>#your-channel</channel>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</layout>
	</appender>

	<!-- Just to see on console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="SLACK" />  <!-- Use our new appender -->
		<appender-ref ref="STDOUT" /> <!-- Just to see on console -->
	</root>

</configuration>
